In [35]:
import pandas as pd
import numpy as np
import joblib

In [36]:
df = pd.read_csv('./heart_2020_cleaned.csv')

In [37]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [38]:
df['Diabetic'] = df['Diabetic'].replace({'No, borderline diabetes':1, 'Yes (during pregnancy)':1})
df['Diabetic'].value_counts()

Diabetic
No     269653
Yes     40802
1        9340
Name: count, dtype: int64

In [39]:
df.duplicated().value_counts()

False    301714
True      18081
Name: count, dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [41]:
df.drop_duplicates(inplace=True)

In [42]:
df.duplicated().value_counts()

False    301714
Name: count, dtype: int64

In [43]:
df['PhysicalHealth'].value_counts()

PhysicalHealth
0.0     208608
30.0     19503
2.0      14846
1.0      10459
3.0       8608
5.0       7590
10.0      5450
15.0      5012
7.0       4629
4.0       4467
20.0      3216
14.0      2892
6.0       1270
25.0      1164
8.0        924
21.0       626
12.0       605
28.0       446
29.0       204
9.0        180
18.0       167
16.0       135
27.0       124
17.0       110
13.0        91
22.0        89
11.0        85
24.0        67
26.0        66
23.0        46
19.0        35
Name: count, dtype: int64

In [44]:
df.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  301714.000000   301714.000000  301714.000000  301714.000000
mean       28.441956        3.572333       4.121516       7.084550
std         6.468144        8.140689       8.128318       1.467126
min        12.020000        0.000000       0.000000       1.000000
25%        24.030000        0.000000       0.000000       6.000000
50%        27.410000        0.000000       0.000000       7.000000
75%        31.650000        2.000000       4.000000       8.000000
max        94.850000       30.000000      30.000000      24.000000

In [45]:
df['SleepTime'].unique()

array([ 5.,  7.,  8.,  6., 12.,  4.,  9., 10., 15.,  3.,  2.,  1., 16.,
       18., 14., 20., 11., 13., 17., 24., 19., 21., 22., 23.])

In [46]:
df['SleepTime'].value_counts()

SleepTime
8.0     90199
7.0     89445
6.0     64655
5.0     19101
9.0     15853
10.0     7782
4.0      7730
12.0     2204
3.0      1992
2.0       788
1.0       551
11.0      415
14.0      243
16.0      236
15.0      189
18.0      102
13.0       97
20.0       64
24.0       30
17.0       21
22.0        9
19.0        3
23.0        3
21.0        2
Name: count, dtype: int64

In [47]:
df['BMI'].value_counts()

BMI
26.63    3243
27.46    2425
27.44    2385
24.41    2173
27.12    2062
         ...
63.85       1
48.34       1
30.97       1
68.16       1
46.56       1
Name: count, Length: 3604, dtype: int64

In [48]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [49]:
le = LabelEncoder()
df['HeartDisease']= le.fit_transform(df['HeartDisease'])
df['HeartDisease']

0         0
1         0
2         0
3         0
4         0
         ..
319790    1
319791    0
319792    0
319793    0
319794    0
Name: HeartDisease, Length: 301714, dtype: int32

In [50]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,0,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,0,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,0,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,0,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [51]:
df = df[df['BMI']<40]
ratio_df = df.groupby(['Race', 'HeartDisease']).size() / df.groupby('Race').size()
ratio_df

Race                            HeartDisease
American Indian/Alaskan Native  0               0.895920
                                1               0.104080
Asian                           0               0.967607
                                1               0.032393
Black                           0               0.926485
                                1               0.073515
Hispanic                        0               0.947664
                                1               0.052336
Other                           0               0.920079
                                1               0.079921
White                           0               0.902766
                                1               0.097234
dtype: float64

In [52]:
df.replace({'Yes': 1, 'No' :0, 'Female':0, 'Male':1, 'Poor':0,'Fair':1, 'Good':2, 'Very good': 3, 'Excellent':4,'White':5, 'Hispanic':2,'Black':3,'Other':4,'Asian':1,'American Indian/Alaskan Native':6},inplace=True)
df

C:\Users\Loveshsharma\AppData\Local\Temp\ipykernel_16740\2194659808.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Yes': 1, 'No' :0, 'Female':0, 'Male':1, 'Poor':0,'Fair':1, 'Good':2, 'Very good': 3, 'Excellent':4,'White':5, 'Hispanic':2,'Black':3,'Other':4,'Asian':1,'American Indian/Alaskan Native':6},inplace=True)

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,55-59,5,1,1,3,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,80 or older,5,0,1,3,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,65-69,5,1,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,75-79,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,40-44,5,0,1,3,8.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319789,0,22.22,0,0,0,0.0,0.0,0,0,18-24,2,0,1,4,8.0,0,0,0
319790,1,27.41,1,0,0,7.0,0.0,1,1,60-64,2,1,0,1,6.0,1,0,0
319791,0,29.84,1,0,0,0.0,0.0,0,1,35-39,2,0,1,3,5.0,1,0,0
319792,0,24.24,0,0,0,0.0,0.0,0,0,45-49,2,0,1,2,6.0,0,0,0
319793,0,32.81,0,0,0,0.0,0.0,0,0,25-29,2,0,0,2,12.0,0,0,0

In [53]:
df['AgeCategory'].value_counts()
import seaborn as sns
import matplotlib.pyplot as plt

df['AgeCategory'].astype(str)
df['AgeCategory']= df['AgeCategory'].str.slice(0,2,1)
df

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,55,5,1,1,3,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,80,5,0,1,3,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,65,5,1,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,75,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,40,5,0,1,3,8.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319789,0,22.22,0,0,0,0.0,0.0,0,0,18,2,0,1,4,8.0,0,0,0
319790,1,27.41,1,0,0,7.0,0.0,1,1,60,2,1,0,1,6.0,1,0,0
319791,0,29.84,1,0,0,0.0,0.0,0,1,35,2,0,1,3,5.0,1,0,0
319792,0,24.24,0,0,0,0.0,0.0,0,0,45,2,0,1,2,6.0,0,0,0
319793,0,32.81,0,0,0,0.0,0.0,0,0,25,2,0,0,2,12.0,0,0,0

In [54]:
df = df[df['SleepTime']<14]

In [55]:
df['Race'].value_counts()

Race
5    215679
2     25541
3     20519
4     10143
1      7896
6      4772
Name: count, dtype: int64

In [56]:
racist = {'White':2, 'Hispanic':4,'Black':3,'Other':2,'Asian':6,'American Indian/Alaskan Native':1,'Yes (during pregnancy)':1,'No, borderline diabetes':1}

In [57]:
df

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,55,5,1,1,3,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,80,5,0,1,3,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,65,5,1,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,75,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,40,5,0,1,3,8.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319789,0,22.22,0,0,0,0.0,0.0,0,0,18,2,0,1,4,8.0,0,0,0
319790,1,27.41,1,0,0,7.0,0.0,1,1,60,2,1,0,1,6.0,1,0,0
319791,0,29.84,1,0,0,0.0,0.0,0,1,35,2,0,1,3,5.0,1,0,0
319792,0,24.24,0,0,0,0.0,0.0,0,0,45,2,0,1,2,6.0,0,0,0
319793,0,32.81,0,0,0,0.0,0.0,0,0,25,2,0,0,2,12.0,0,0,0

In [69]:
# df['Race'].dtype
# df['Diabetic'].astype('Int32')
# df['AgeCategory'].astype('Int32')

dof = df[df['HeartDisease']==1]
dof

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
5,1,28.87,1,0,0,6.0,0.0,1,0,75,3,0,0,1,12.0,0,0,0
35,1,32.98,1,0,1,10.0,0.0,1,1,75,5,1,1,0,4.0,0,0,1
42,1,25.06,0,0,0,0.0,0.0,1,0,80,5,1,0,2,7.0,0,0,1
43,1,30.23,1,0,0,6.0,2.0,1,0,75,5,1,1,1,8.0,0,1,0
45,1,20.37,1,0,0,3.0,0.0,0,0,70,5,0,0,0,10.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319765,1,38.45,0,0,1,30.0,15.0,1,0,55,2,1,1,0,6.0,1,0,0
319767,1,36.21,1,0,0,0.0,0.0,1,0,75,2,1,1,2,8.0,0,0,0
319781,1,37.12,1,0,0,0.0,0.0,0,1,35,2,0,1,3,7.0,0,0,0
319786,1,33.20,1,0,0,0.0,0.0,0,0,60,2,1,1,3,8.0,1,0,0
319790,1,27.41,1,0,0,7.0,0.0,1,1,60,2,1,0,1,6.0,1,0,0

In [59]:
from sklearn.model_selection import train_test_split
y = df['HeartDisease']
x=df.drop('HeartDisease',axis=1)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=12)

In [60]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier

In [61]:
gd = GradientBoostingClassifier(n_estimators=300,
    learning_rate=0.1,
    max_depth=2,
    min_samples_split=2,
    min_samples_leaf=1)

rf = RandomForestClassifier(n_estimators=300, max_depth=3, random_state=15)

In [62]:
x_train

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
59830,35.44,1,0,0,0.0,0.0,0,1,50,3,0,0,4,6.0,0,0,0
249617,21.46,0,0,0,0.0,0.0,0,0,25,3,0,0,2,7.0,0,0,0
132937,29.26,0,0,0,2.0,0.0,0,1,45,5,1,1,3,6.0,1,0,0
93149,22.13,0,0,0,0.0,0.0,0,0,50,5,0,1,3,6.0,0,0,0
52816,22.65,0,0,0,0.0,0.0,0,0,80,5,0,1,3,8.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228528,23.49,0,0,0,3.0,14.0,0,0,30,5,0,1,3,6.0,0,0,0
38686,34.33,0,0,0,0.0,0.0,0,0,50,5,0,1,2,8.0,1,0,0
42678,26.63,1,0,0,0.0,0.0,0,0,55,3,1,1,3,8.0,0,0,0
285966,33.79,1,0,0,30.0,7.0,0,0,65,5,1,1,1,7.0,0,0,1
262385,27.44,0,0,0,0.0,0.0,0,0,75,2,1,1,3,7.0,0,0,0

In [79]:
gd.fit(x_train,y_train)
y_test

271421    0
6517      0
281549    0
15286     0
262005    0
         ..
134026    0
178777    0
118439    0
126945    0
289803    0
Name: HeartDisease, Length: 56910, dtype: int32

In [80]:
y_pred = gd.predict(x_test)
predictions_with_indices = [(index, y_pred[index]) for index in range(len(y_pred))]

# Step 2: Identify Predicted Value Index (assuming you want to find x_test for y_pred == 1)
matching_indices = [index for index, pred in predictions_with_indices if pred == 1]

# Step 3: Retrieve Input Data (x_test) for the matching indices
matching_x_values = x_test.iloc[matching_indices]

from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))
matching_x_values_values = matching_x_values.values
matching_x_values_values

0.9126691266912669

array([[29.84, 1, 0, ..., 0, 0, 0],
       [26.97, 0, 0, ..., 0, 1, 0],
       [31.89, 0, 0, ..., 0, 0, 0],
       ...,
       [22.47, 1, 0, ..., 0, 0, 0],
       [25.25, 0, 0, ..., 0, 0, 1],
       [31.45, 1, 0, ..., 1, 1, 0]], dtype=object)

In [83]:
from sklearn.model_selection import cross_val_score
cross_val_score(gd,x_train,y_train,cv=5)

array([0.91196626, 0.91179055, 0.9132402 , 0.9119443 , 0.91352574])

In [85]:
BMI = 35.21
Smoking = 1
AlcoholDrinking = 1
Stroke = 1
PhysicalHealth = 1
MentalHealth = 1
DiffWalking = 1
Sex = 1
AgeCategory = 75
Race = 2
Diabetic = 1
PhysicalActivity = 0
GenHealth = 4
SleepTime = 6.0
Asthma = 1
KidneyDisease = 1
SkinCancer = 1

data = pd.DataFrame({
    'BMI': [BMI],
    'Smoking': [Smoking],
    'AlcoholDrinking': [AlcoholDrinking],
    'Stroke': [Stroke],
    'PhysicalHealth': [PhysicalHealth],
    'MentalHealth': [MentalHealth],
    'DiffWalking': [DiffWalking],
    'Sex': [Sex],
    'AgeCategory': [AgeCategory],
    'Race': [Race],
    'Diabetic': [Diabetic],
    'PhysicalActivity': [PhysicalActivity],
    'GenHealth': [GenHealth],
    'SleepTime': [SleepTime],
    'Asthma': [Asthma],
    'KidneyDisease': [KidneyDisease],
    'SkinCancer': [SkinCancer]
})
prediction = gd.predict(data)
prediction

array([1])

In [86]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56910 entries, 271421 to 289803
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   BMI               56910 non-null  float64
 1   Smoking           56910 non-null  int64
 2   AlcoholDrinking   56910 non-null  int64
 3   Stroke            56910 non-null  int64
 4   PhysicalHealth    56910 non-null  float64
 5   MentalHealth      56910 non-null  float64
 6   DiffWalking       56910 non-null  int64
 7   Sex               56910 non-null  int64
 8   AgeCategory       56910 non-null  object
 9   Race              56910 non-null  int64
 10  Diabetic          56910 non-null  int64
 11  PhysicalActivity  56910 non-null  int64
 12  GenHealth         56910 non-null  int64
 13  SleepTime         56910 non-null  float64
 14  Asthma            56910 non-null  int64
 15  KidneyDisease     56910 non-null  int64
 16  SkinCancer        56910 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 7.8+ MB

In [88]:
joblib.dump(gd, 'gd_mod.pkl')

['gd_mod.pkl']